body, html
{
    background-color: black !important;
    height: 3000px;
    top: 0;
    position: relative;
}

#scroller {
    position: relative;
    top: 100px;
    width: 100%;
    background: #CCC;
    height: 100px;
}

.intro
{
    text-align: center;
    padding-top: 13%;
    padding-bottom: 13%;
    margin-bottom: 50px;
}

.intro h1
{
    font-weight: 900;
    text-transform: uppercase;
}

.intro h5
{
    font-weight: 900;
    text-transform: uppercase;
    background-color: white;
    padding: 10px;
    color: white;
    display: inline-block;
    font-size: 40px;
}

.nav {
    position: absolute;
      z-index: 3;

}

.png img {
 width:100%;
 position: absolute;
 margin: 0 auto;


}

.fixed{
    position: fixed;
}

#bg {
    width:100%;
}

.content {
  position: relative;

  margin: 0 auto;
}
.content video {
  width: 100%;
}
.content:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: none;
}

video {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

video:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}


footer {
    display: none;
}

