body, html
{
    background-color: #EDEDED !important;
  /*  height: 3000px;
    top: 0;
    position: relative;*/
}

#scroller {
    position: relative;
    top: 100px;
    width: 100%;
    background: #CCC;
    height: 100px;
}

element.style {
    touch-action: pan-y;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.slider.fullscreen {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slider {
    position: relative;
    height: 400px;
    width: 100%;
}

.slider .indicators .indicator-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 12px;
    background-color: #000;
    transition: background-color .3s;
    border-radius: 50%;
}

/*.intro
{
    text-align: center;
    padding-top: 13%;
    padding-bottom: 13%;
    margin-bottom: 50px;
    z-index: 3;
}

.intro h1
{
    font-weight: 900;
    text-transform: uppercase;
}

.intro h5
{
    font-weight: 900;
    text-transform: uppercase;
    background-color: #f5f5f5;
    padding: 10px;
    color: #333333;
    display: inline-block;
    font-size: 40px;
}*/




.about .col
{
    margin-bottom: 24px;
}

.about h5
{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.about h6
{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.about hr
{
    width: 40px;
    margin-bottom: 45px;
}

.about .card
{
    text-align: center;
}

.about .card video
{
    margin-bottom: 15px;
}

.about .card img
{
    margin-bottom: 15px;
}


.portfolio .col
{
    margin-bottom: 24px;
}

.portfolio h5
{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.portfolio h6
{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.portfolio hr
{
    width: 40px;
    margin-bottom: 45px;
}

.portfolio .portfolio-holder
{
    clear: both;
    text-align: center;
}

.portfolio video
{
    width: 33%;
    display: inline-block;
    float: left;
}

.portfolio img
{
    width: 33%;
    display: inline-block;
    float: left;
}

.contact .col
{
    margin-bottom: 24px;
}

.contact h5
{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.contact h6
{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.contact hr
{
    width: 40px;
    margin-bottom: 45px;
}

.contact .contact-holder
{
    padding-left: 40px;
    text-align: left;
}

.contact .contact-holder h6
{
    margin-bottom: 15px;
    text-align: left;
}

.contact .contact-holder p
{
    margin-bottom: 30px;
}

.nav {
    position: absolute;
      z-index: 5;

}

.png img {
 width:100%;
 position: absolute;
 margin: 0 auto;


}

.fixed{
    position: fixed;
}

#bg {
    width:100%;
}

.content {
  position: relative;

  margin: 0 auto;
}

.content h5{

  z-index: 5
}
.content video {
  width: 100%;
}
.content:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: none;
}

video::-webkit-media-controls {
  display: none;
}

/* Could Use thise as well for Individual Controls */
video::-webkit-media-controls-play-button {}

video::-webkit-media-controls-volume-slider {}

video::-webkit-media-controls-mute-button {}

video::-webkit-media-controls-timeline {}

video::-webkit-media-controls-current-time-display {}


footer {
    display: none;
}

